 <div class="globlediv">
    <div *ngIf="popup" class="popupnotematCard">
      <mat-card class="mtcardbox">
              <form [formGroup]="createnotesform" >
            <div>
      <input class="notematInput" matInput placeholder="Title" formControlName="tittle">
    </div>
    <div>
        <textarea class="notedescription" placeholder="Take a note..." formControlName="description"></textarea>
      </div>
      <div class="bottomofmatcard" role="toolbar">
            <button mat-flat-button class="closebutton" (click)="onSubmit()">Close</button>  
        </div>
        </form>
        <app-toolbar></app-toolbar>
      </mat-card>
</div>

<div *ngIf="!popup" (click)="onClick()">   
  <div class="mainbar">
    <mat-form-field class="notemainmatInput">
      <input matInput placeholder="Take a note...">
      <div class="icons">
        <div class="icons1">
        <button mat-icon-button><img id="mainicons" mat-card-image src="/assets/images/check.png"></button> 
     </div>
     <div class="icons2">
         <button mat-icon-button><img id="mainicons" mat-card-image src="/assets/images/brush.png"></button> 
      </div>
      <div class="icons3">
         <button mat-icon-button><img id="mainicons" mat-card-image src="/assets/images/image.png"></button> 
      </div>
    </div>
    </mat-form-field>
  </div>      
</div>        
</div>

 