.popupnotematCard{
    height: 120px;
    width: 500px;
    margin-left: 350px;
    margin-top: 30px;
}
.notematInput{
   outline: none;
    width: 430px;
    border: none;
//background-color: transparent;
}
.notedescription{
    border: none;
    outline: none;
    width: 430px;
    //background-color: transparent;
}
.bottomofmatcard{
//-webkit-box-sizing: border-box;
box-sizing: border-box;
bottom: 0;
//display: -webkit-box;
//display: -webkit-flex;
display: flex;
//opacity: 0;
//-webkit-transition-duration: .218s;
transition-duration: .218s;
//-webkit-transition-property: opacity;
transition-property: opacity;
//-webkit-transition-timing-function: ease-in;
transition-timing-function: ease-in;
}
.closebutton{
    margin-left: 400px;
}
.notemainmatInput{
    width: 500px;
    margin-left: 350px;
    height: 40px;
   
}
.checkicons{
   margin-left: 350px;
}
.brushicons{
    margin-left: 20px;  
}
.imageicons{
    margin-left: 20px; 
}
//  .globlediv{
//     margin-top: 30px;
//     margin-left: 25%; 
//     margin-bottom: 50px;
//  }
// .matcardbox{
//     margin: 10px;
//   width: 38vw;
// }