.topdiv{
    display: flex;
    flex-direction: row;
    //margin-left: -10px;
    margin-bottom: -25px;
}
.icons{
    padding: 1%;
}
.menuicon{
    border: none;
    outline: none;
    margin-top: -8px;
}
#mainicons {
    margin-top: 0px;
    opacity: 0.8;
    width: 40%;
    height: 40%;
}
.matLevel{
    margin-top:10px;
}

.labellist{

}