    <div class="example-sidenav-content">
      <div>
        <button  mat-icon-button (click)="drawer.toggle()">
            <mat-icon matSuffix>menu</mat-icon>
        </button>
      </div>
      <div>
          <img class="imagediv" alt="" aria-hidden="true"
          src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" style="width:40px;height:40px">
      </div>
      <div>
          <span class="keep">Keep</span>
        </div>
        <div class="matoutside">
          <mat-card class="matCard">
           
            <div>
            <mat-icon>search</mat-icon>
          </div>
          <div>
            <input class="matInput" matInput placeholder="Serach...." >
          </div>
          <div>
            <mat-icon>clear</mat-icon>
          </div>
        
          </mat-card>
        </div>
          <div>
              <mat-icon class="round">autorenew</mat-icon>
            </div>
            <div>
                <mat-icon class="dashicon">dashboard</mat-icon>
              </div>
              <div>
                  <mat-icon class="setting">settings_applications</mat-icon>
                </div>
                <div>
                    <mat-icon class="googleapp">view_comfy</mat-icon>
                  </div>
                
                  <div >
                     <img class="image" src="/assets/images/downloadforprofile.jpeg">
                   </div>
               </div>
      
     
<div>
<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
  <div>
      
   <ul class="noteRemind">
        <button mat-raised-button class="menuButton" (click)="getnotesDialog()">
            <mat-icon class="notesicon">
                lightbulb_outline
            </mat-icon>
            Notes
          </button>
          <button mat-raised-button class="menuButton" (click)="getreminderDialog()">
            <mat-icon class="remindericon">
                notifications_none
            </mat-icon>
            Reminders
          </button>
   </ul> 
   </div>
   <div>
     <ul class="label">
    <div class="labelsname"> 
    Labels
    </div>
     <div>
        <div *ngFor="let label of labels">
          <button mat-raised-button class="menuButton">
                
                <mat-icon class="labelicon">
                edit
                </mat-icon>
                {{label.labelName}}
              
          </button>
        </div>
      </div>
      <button mat-raised-button class="menuButton" (click)="getLabels()">
          <mat-icon class="createlabelicon">
            create
          </mat-icon>
          Edit Labels
        </button>
      </ul>
   </div> 
    
   <div>
     <ul class="archive">
      <div> 
      <button mat-raised-button class="menuButton" (click)="openLabelDialog()">
          <mat-icon class="archiveicon">
              archive
          </mat-icon>
          Archive
        </button>
      </div>
    <div>
 
      <button mat-raised-button class="menuButton" (click)="openLabelDialog()">
          <mat-icon class="binicon">
              delete
          </mat-icon>
          Bin
        </button>
      </div>
      </ul>
   </div> 
    </mat-drawer>
    <div class="noteApp">
        <app-notes></app-notes>
    </div>
  </mat-drawer-container>
  
</div>


