
<div class="outerdisplay">
 <div class="notedisplay" *ngFor='let note of listNotes'>  
    <mat-card class="ntcard">
        <mat-card-header>
        <mat-card-title>
         <!-- <span-card-title class="title_card">    -->
            {{note.tittle}}
        <!-- </span-card-title> -->
        </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <textarea matiInput class="text_area" > 
            {{note.description}}
        </textarea>
        </mat-card-content>
    </mat-card>
</div> 
</div>